
.auth {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F4F5F6;
  }
  
  .container {
    max-width: 36rem;
    width: 100%;
    min-height: 45vh;
    box-shadow: 0 4px 38px 0 rgba(22, 21, 55, 0.06),
      0 0 21px 0 rgba(22, 21, 55, 0.03);
    border-radius: 5px;
    padding: 3rem;
    background-color: white;
    margin-bottom: 3rem;
  }
  
  
  .footerNav {
    li {
      margin: 5px 14px;
    }
    margin: 20px;
  }
  
  .loginLogo {
    img {
      height: 50px;
    }
    padding: 45px;
  }
  
  .loginButton {
    width: 100%;
    min-height: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
    border-radius: 4px;
  }

  .inputField{
    min-height: 2.5rem;
    font-size: 18;
    border-radius: 4;
  }