// @import "assets/styles/mixins.scss";

.topbar {
  background: transparent;
  min-height: 64px;
  border-bottom: 1px solid border;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}

.searchbar {
  margin-left: -15px;
  margin-right: -15px;
}

.userMenu {
  position: relative;
  left: 32px;
}

@media only screen and (max-width: 448px) {
  .searchbar {
    padding-left: 0px !important;
    padding-right: 24px !important;
  }
}

.link {
  padding-top: 3px;
  margin-top: 3px;
  font-size: 15px;
  margin-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: "bg-gray-600";
}

.iconLink {
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: "bg-gray-600";
  position: relative;
  top: 3px;
  &:hover {
    color: blue;
  }
}
