celery==5.0.5
clickhouse-driver[numpy]==0.2.1
coverage==5.5
cryptography==3.4.7
Cython==0.29.24
Django==3.2.5
django-allauth==0.41.0
django-celery-beat==2.2.1
django-cors-headers==3.7.0
django-timezone-field==4.1.1
djangorestframework==3.12.2
google-api-core==1.30.0
google-auth==1.32.0
google-cloud-bigquery==2.20.0
google-cloud-core==1.7.1
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
greenlet==1.1.1
gunicorn==20.0.4
html2text==2020.1.16
kaleido==0.2.1
mixer==7.1.2
mysqlclient==2.0.3
numpy==1.20.2
pandas==1.2.4
plotly==5.2.1
prophet==1.0.1
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
pydruid==0.6.2
pylint==2.8.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyodbc==4.0.31
pytest==6.2.4
pytest-cov==2.12.1
pytest-django==4.3.0
pytest-mock==3.6.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
snowflake-connector-python==2.4.6
SQLAlchemy==1.4.20
sqlparse==0.4.1
slack-sdk==3.9.1