django-allauth==0.41.0
amqp==5.0.6
asgiref==3.4.0
astroid==2.5.6
attrs==21.2.0
backcall==0.2.0
billiard==3.6.4.0
cachetools==4.2.2
celery==5.0.5
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coverage==5.5
decorator==5.0.9
Django==3.2.5
django-celery-beat==2.2.1
django-cors-headers==3.7.0
django-timezone-field==4.1.1
djangorestframework==3.12.2
Faker==8.8.2
google-api-core==1.30.0
google-auth==1.32.0
google-cloud-bigquery==2.20.0
google-cloud-core==1.7.1
google-crc32c==1.1.2
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
grpcio==1.38.1
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.9.1
jedi==0.18.0
jmespath==0.10.0
kombu==5.1.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mixer==7.1.2
numpy==1.20.2
packaging==20.9
pandas==1.2.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.19
proto-plus==1.19.0
protobuf==3.17.3
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
pyarrow==3.0.0
pyasn1==0.4.8
prophet==1.0.1
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.9.0
pylint==2.8.3
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
pytest-django==4.3.0
pytest-mock==3.6.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
rsa==4.7.2
six==1.16.0
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
wrapt==1.12.1
pydruid==0.6.2
snowflake_connector_python==2.4.6
sqlalchemy==1.4.20
mysqlclient==2.0.3
html2text== 2020.1.16
